PUBLIC_SUPABASE_URL=https://qhuhfnbzygfhwfsnbipi.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_d-i9PnagaRJIEBRGNjoRBg_Sisn2C_e
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFodWhmbmJ6eWdmaHdmc25iaXBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MTU0NDEsImV4cCI6MjA4NzQ5MTQ0MX0.gWZ7QlD6mVK4h3Bug_LJPb2nWxFxGTHa8wMBFJJ0nds
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFodWhmbmJ6eWdmaHdmc25iaXBpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTkxNTQ0MSwiZXhwIjoyMDg3NDkxNDQxfQ.aG9K_9S6C2AZTqAAFDOq4dxq56CrluUL5q7L9UuciRI
PUBLIC_FRONTEND_URL=http://localhost:5173

OPENROUTER_API_KEY=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

STRIPE_SECRET_KEY=sk_test_51QnRG2FolkEDHI3TRnBzSTe9lvuJpSguVIg61KJgc8KFXGiMjkSF1dQTbzVkfN7r6uDfPLZwhYy0QDidD9TNnx0I00E0WURhOf
PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51QnRG2FolkEDHI3TFsc01qsEXDMjCxJumayDMuw3wO2wJNhp3RzpFKC1FkiG7sqZsuB13hWCuBQ76JPLVtMdvd1G001Z1Ucnap
STRIPE_WEBHOOK_SECRET=whsec_8a44198630863b2de06bf082699b7d22baaa4d66fb0ac340fa59f6615c7a3b49

PUBLIC_STRIPE_PRICE_SCHOLAR_MONTHLY=price_1TAbOOFolkEDHI3T137q4pGF
PUBLIC_STRIPE_PRICE_SCHOLAR_YEARLY=price_1TAbQKFolkEDHI3T8F3jpyUG
PUBLIC_STRIPE_PRICE_LIBRARIAN_MONTHLY=price_1TAbRvFolkEDHI3Th26O1774
PUBLIC_STRIPE_PRICE_LIBRARIAN_YEARLY=price_1TAbSkFolkEDHI3TPUFXLwcO