PUBLIC_SUPABASE_URL=https://qhuhfnbzygfhwfsnbipi.supabase.co
PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_d-i9PnagaRJIEBRGNjoRBg_Sisn2C_e
PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFodWhmbmJ6eWdmaHdmc25iaXBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE5MTU0NDEsImV4cCI6MjA4NzQ5MTQ0MX0.gWZ7QlD6mVK4h3Bug_LJPb2nWxFxGTHa8wMBFJJ0nds
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFodWhmbmJ6eWdmaHdmc25iaXBpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTkxNTQ0MSwiZXhwIjoyMDg3NDkxNDQxfQ.aG9K_9S6C2AZTqAAFDOq4dxq56CrluUL5q7L9UuciRI